@model IEnumerable<BangazonWorkfoceManagement.Models.Computer>

@{
    ViewData["Title"] = "Index";
}

<section class="container">
    <h1>Computers</h1>
    <form asp-action="Filter">
        <div class="col-5 p-0">
            <div class="input-group mb-3">
                <input type="text" id ="searchString" name="searchString" class="form-control" placeholder="Enter make or manufacturer..." aria-label="ComputerFilter" aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <input type="submit" value="Search" class="btn btn-outline-secondary" id="filterComputers__input"/>
                </div>
            </div>
        </div>
    </form>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
</section>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DecomissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DecomissionDate)
            </td>
            <td>
                @Html.ActionLink(item.Make, "Details", "Computer", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
