@model BangazonWorkfoceManagement.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsSupervisor)
        </dt>
        @if (Model.IsSupervisor == true)
        {
            <dd class="col-sm-10">
                Yes
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                No
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedComputer.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssignedComputer.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedComputer.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssignedComputer.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedComputer.AssignDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssignedComputer.AssignDate)
        </dd>
        <dt class="col-12">
            Future Trainings
        </dt>
        @foreach (TrainingProgram tp in Model.FutureTrainings)
        {
            <dd class="col-sm-12">
                @tp.Name
                @tp.StartDate
            </dd>
        }

        <dt class="col-12">
            Past Trainings
        </dt>
        @foreach (TrainingProgram tp in Model.PastTrainings)
        {
            <dd class="col-sm-12">
                @tp.Name
                @tp.StartDate
            </dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a> |
    @Html.ActionLink("Assign to Training Program", "AssignTraining", new { id = Model.Id }) 
    @*<a asp-action="AssignTraining">Assign to Training Program</a>*@
</div>
